.editable-text-container {
  display: inline-block;
}

.editable-text {
  cursor: pointer;
  display: block;
  white-space: pre-line;
  position: relative;
  box-sizing: border-box;
  padding: 1px;
}

.editable-text:focus {
  cursor: text;
}

.editable-text.dt-default-style:focus {
  background-color: #f2f2f2;
  border: 2px solid blue;
  outline: none;
  outline-width: 0;
  line-height: 1.2;
  // padding: 8px;
  border-radius: 2px;
}

.editable-text[placeholder]:empty::before {
  content: attr(placeholder);
  color: #878787;
  font-style: italic;
}
