.editable-text-container {
  display: inline-block;
}

.editable-text {
  cursor: url('/assets/dynamic_text/pencil.png'), pointer;
  display: block;
  white-space: pre-line;
  position: relative;
  box-sizing: border-box;
  padding: 1px;
}

.editable-text:focus {
  cursor: text;
}

.editable-text[placeholder]:empty::before {
  content: attr(placeholder);
  color: #878787;
  font-style: italic;
}
